# Virtual environment
.venv/
env/
ENV/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/jupyter_test-checkpoint.ipynb

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Pip dependency files
pip-log.txt

